.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto; /* Center container horizontally */
  }
  
  .heading {
    font-size: 32px;
    font-weight: bold;
  }

  .link:hover {
    color: #2183f3;
  }