@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --background: #000; /* Light background */
  --foreground: #fff; /* Dark text for contrast */
  font-family: 'Raleway', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Raleway', sans-serif;
  height: 100%;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff; /* Light background */
    --foreground: #000000; /* Dark text for contrast */
    --card: #ffffff;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #f0f0f0;
    --secondary-foreground: #000000;
    --muted: #f0f0f0;
    --muted-foreground: #666666;
    --accent: #f0f0f0;
    --accent-foreground: #000000;
    --destructive: #ff4d4d;
    --destructive-foreground: #ffffff;
    --border: #cccccc;
    --input: #cccccc;
    --ring: #000000;
    --chart-1: #ff9999;
    --chart-2: #66b3ff;
    --chart-3: #99ff99;
    --chart-4: #ffcc99;
    --chart-5: #c2c2f0;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
